 

/***********************
*         MAIN         *
***********************/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40em;
    background-color: whitesmoke;
    z-index: 12;
    text-align: start;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container{
    margin-top: 5%;
    text-align: center;
}
.present {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    flex-wrap: wrap;

}

#presentation {
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 40%; 
    height: 20em;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 10%;
    opacity: 0;  
    transform: translateX(-100%); 
    transition: transform 1s ease-in-out, opacity 0.75s ease-out;  
}

.presentation-photo {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin-right: 10px;
    margin: 2%;
    border-radius: 5px;
    
}

.image-present{
    width: 40%; 
    margin-left: 10%;
    
}

 .image-present > img {
    width: 70%;
    height: 17em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#presentation.translate-in{
    opacity: 1;  
    transform: translateX(0); 
}

.image-etudes{
    width: 30%; 
    margin-left: 10%;
}

.image-etudes > img {
    width: 100%;
    height: 17em;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.etudes {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10%;
}

#etudes {
    display: none;
    flex-direction: column; 
    align-items: center;
    width: 40%; 
    height: 20em;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0;  
    transform: translateX(100%); 
    transition: transform 1s ease-in-out, opacity 0.75s ease-out;  
    margin-right: 10%;
    text-align: center;
}
#etudes > p{
    margin: 2%;
}

#etudes > p > a{
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    transition: color 0.3s, transform 0.3s ease;
}

#etudes > p > a:hover{
    color: #0077cc;  
    transform: translateY(-2px);
}

#etudes.translate-in{
    display: flex;
    opacity: 1;  
    transform: translateX(0); 
}


