/* Styles généraux */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.5s, color 0.5s;
    background-color: #333;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    position: static;
    top: 0;
    z-index: 1000;
    padding: 20px 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: #545454; /* Couleur vert vif */
    color: #fff;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px;
}

nav ul li a:hover {
    color: #66BB6A; /* Couleur vert clair au survol */
}

/* Footer */
footer {
    padding: 20px 0;
    text-align: center;
    background-color: #545454; 
    color: #fff;
}

/* Bouton à bascule */
.switch {
    position: absolute;
    right: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    transition: background-color 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3; /* Couleur bleu */
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Styles pour les icônes (lune et soleil) */
.icon {
    position: absolute;
    font-size: 20px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.4s;
}

.icon.moon {
    left: 5px;
    opacity: 1;
}

.icon.sun {
    right: 7px;
    opacity: 0;
    color: #FFC107; /* Couleur jaune */
}

input:checked + .slider .moon {
    opacity: 0;
}

input:checked + .slider .sun {
    opacity: 1;
}

/* Section de présentation */
#presentation {
    max-width: 1150px;
    height: 170px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #eedddd; /* Couleur gris clair */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    border-radius: 10px;
}

.presentation:hover {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
}
.presentation-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.presentation-photo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.presentation-text {
    flex: 1;
    text-align: left;
}

.presentation-text h2 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #333;
}

.presentation-text p {
    margin-top: 0;
    line-height: 1.6;
    color: #666;
}

.presentation-photo:hover {
    transform: scale(1);
}

/* Mode sombre pour la section de présentation */
body.dark-mode {
    background-color: #222;
    color: #fff;
}

body.dark-mode #presentation {
    background-color: #444;
}

body.dark-mode #presentation .presentation-text h2,
body.dark-mode #presentation .presentation-text p {
    color: #fff;
}

/* Section études */
#etudes {
    padding: 50px 0;
    background-color: #eedddd;
    text-align: center;
}

#etudes .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#etudes h2 {
    margin-bottom: 40px;
    font-size: 3em;
    color: #333;
}

.etudes-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.etudes-box:hover {
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
}

.etudes-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.etude-item {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;
}

.etude-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.etude-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
    color: #333;
}

.etude-item p {
    margin: 0;
    line-height: 1.6;
    color: #666;
}

/* Mode sombre pour la section d'études */
body.dark-mode #etudes {
    background-color: #222;
    color: #fff;
}

body.dark-mode #etudes h2 {
    color: #fff;
}

body.dark-mode .etudes-box {
    background-color: #333;
    color: #ddd;
}

body.dark-mode .etude-item {
    background-color: #444;
    color: #ccc;
}

body.dark-mode .etude-item h3 {
    color: #fff;
}

body.dark-mode .etude-item p {
    color: #bbb;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour le bouton de téléchargement de CV */
.btn-download-cv {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Couleur du bouton */
    color: #fff; /* Couleur du texte */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-download-cv:hover {
    background-color: #45a049; /* Couleur au survol */
    transform: translateY(-3px); /* Effet de translation au survol */
}

.presentation-content {
    position: relative;
}

/* Positionnement du bouton de téléchargement */
.btn-download-cv {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.skill-box {
    width: 1200px; /* Largeur fixe de chaque boîte de compétence */
    background-color: #333;
    padding: 20px;
    margin: 20px 0; /* Marge entre chaque boîte de compétence */
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.skill-box:hover {
    transform: translateY(-5px); /* Effet de translation vers le haut au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Augmentation de l'ombre au survol */
}

.skill-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.skill-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

/* Pour les boîtes de compétences */
.skill-box a {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Utilise la couleur du parent */
}

.skill-box a:hover {
    color: inherit; /* Empêche le changement de couleur au survol */
}

/* Mode clair */
body.light-mode {
    background-color: #EEEEEE; /* Couleur gris clair */
    color: #333;
}

body.light-mode header,
body.light-mode footer {
    background-color: #4CAF50; /* Couleur bleu vif */
    color: #fff;    
}

body.light-mode footer {
    background-color: #4CAF50; /* Couleur verte, assortie au header */
}

body.light-mode #presentation {
    background-color: #EEEEEE; /* Couleur gris clair */
}

body.light-mode #presentation .presentation-text h2,
body.light-mode #presentation .presentation-text p {
    color: #333;
}

body.light-mode #etudes {
    background-color: #F5F5F5; /* Couleur gris clair */
    color: #333;
}

body.light-mode #etudes h2 {
    color: #333;
}

body.light-mode .etudes-box {
    background-color: #fff;
    color: #333;
}

body.light-mode .etude-item {
    background-color: #F0F0F0; /* Couleur gris clair */
    color: #333;
}

body.light-mode .etude-item h3 {
    color: #333;
}

body.light-mode .etude-item p {
    color: #666;
}

/* Styles spécifiques pour le mode clair */
body.light-mode .skill-box {
    background-color: #eedddd; /* Fond gris clair */
    color: #333; /* Texte sombre */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

body.light-mode .skill-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

body.light-mode .skill-box h3 {
    color: #333; /* Couleur du titre */
}

body.light-mode .skill-box p {
    color: #666; /* Couleur du texte */
}

